.card-holder {
    width: 100vw;
    min-height: 100vh;
display: flex;
justify-content: center;
}
.card {
    text-align: center;

}

h1{
    font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}