* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700;1,900&display=swap");
body {
    height: 100vh;
    background-image: url("https://api.lorem.space/image/burger?w=1500&h=2000");
    background-size: cover;
    color: rgb(183, 197, 210);
}
input {
    cursor: pointer;
}
/*  */
h1 {
    background: rgb(136, 114, 114);
    position: sticky;
    top: 0px;
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 25px;
}
/* container  */
.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(123, 13, 13, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(123, 13, 13, 0.46);
}

h2 {
    text-align: center;
    margin: 25px auto;
    color: rgb(220, 214, 235);
}
/* main */
.container .main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: auto; */
    /* width: 80%; */
    align-items: center;
}

/* pizza size */
.container .pizza_size {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr);
    gap: 10px;
    align-items: center;
    /* padding: 10px; */
}

.pizza_size h2 {
    /* width: 100%; */
    grid-column: 1/7;
}

input {
    height: 30px;
    display: flex;
    align-items: center;
/* display: none; */
/* opacity: 0; */

}
.pizza_size input { 
    opacity: 0;

}


.pizza_size label {
cursor: pointer;
transition: 500ms;
}
.pizza_size label:hover { 
    scale: 150%;
    color: bisque;
}
.pizza_size input:checked + label { 
    scale: 150%;
    color: bisque;
}
.pizza_size input:checked + label::after { 
    background-image: url('./check.png');

}
label {
    text-align: center;

}
img { 
    /* width: fit-content; */
}
/* topping */
.container .topping {
    display: grid;
    grid-template-columns: repeat(2,  1fr 1fr );
    gap: 30px;
    align-items: center;
    margin: auto;
}

.container .topping h2 {
    grid-column: 1/5;
}

.topping label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: 500ms;
    background: url('./check.png');
    background-size: 20%;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    overflow: hidden;
}
.topping label:hover {
    opacity: 0.4;
    cursor: pointer;
    border: 1px solid black;
}

.topping label img {
    /* border-radius: 100%; */
    /* width: 50%; */
    /* height: 100px; */
    margin: auto;
    align-content: center;
    /* opacity: 0.9; */
}
.container .topping input {
    justify-content: end;
    display: none;
    /* opacity: 0; */
}
.topping input:checked + label img{
    /* background-color: #76cf9f; */
    /* opacity: 0.4; */
    opacity: 0.1;
}
.topping input:checked + label { 
    background-size: 50%;
}

/*  delivery method  */
.delivery {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.delivery #deli {
    width: 300px;
    font-size: 2rem;
    text-align: center;
    border: 3px solid rebeccapurple;
    /* padding: 5px; */
    margin: auto;
}

/* button submit  */
.btn {
    display: flex;
    margin: 50px auto;
}
.submit {
    margin: auto;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
    background-color: rgb(66, 215, 215);
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.submit:hover {
    background-color: rgb(92, 71, 44);
}

#bill {
    font-size: 50px;
    color: aliceblue;
    font-weight: 200;
}
