@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
/* search  */
.search {
    background-color: aliceblue;
    flex-grow: 1;
}
.search {
    border-bottom: 1rem solid #4da8cb;
    display: flex;
    flex-flow: row wrap;
    padding: 3rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.search input {
    width: 30%;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}
#search_result {
    width: 100%;
    font-size: 1.4rem;
}
/* insert car */
.infor {
    background-color: bisque;
    flex-grow: 3;
    display: flex;
    padding: 2rem;
}

.insert {
    /* flex-grow: 1; */
    /* width: 50%; */
    gap: 1rem;
}
.insert form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.infor form h2 {
    width: 100%;
}
.infor form label {
    width: 40%;
}
.infor form input {
    width: 80%;
    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 5px;
}
.btns {
    width: 100%;
}
button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4da8cb;
    cursor: pointer;
    transition: all 300ms;
}

button:hover {
    background-color: aliceblue;
}

.data_base {
    flex: 1;
    display: flex;
    justify-content: end;
}

/* table */
th {
    padding: 0.3rem;
    background-color: #4da8cb;
    font-size: 1.2rem;
}
table {
    height: fit-content;
    text-align: center;
}
td {
    font-size: 1rem;
    padding: 1rem;
}
.black {
    background-color: rgba(59, 68, 68, 0.235);
}

/* CSS */
.button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    /* width: 100%; */
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}
